---
import Head from '../components/Head.astro'
import '../styles/global.css';
import Navigation from '../components/Navigation.astro';
---
<html lang="en" class="dark">
	<Head />
	<body class="dark:bg-black">
		<Navigation />
	</body>
</html>