---
import Master from '../components/Master.astro';
import Logo from '../components/Logo.astro';
import RssFHB from '../components/RssFHB.vue';
import Footer from '../components/Footer.astro';
import cardElement from '../components/vue/cardElement.vue';
---
<Master>
    <cardElement />
    <div class="header-wrap grid grid-cols-1 md:grid-cols-3 place-items-center bg-yellow">
        <Logo />
        <div class="album-art-grid">
            <div id="abstractions" class="album-art active">
                <img src="/images/album-art/abstractions.jpg">
                <div class="button-wrap flex flex-row">
                  <a class="text-black text-center bg-yellow block p-3 text-xl border-2 border-black flex-1" href="https://flawedhumanbeing.bandcamp.com/album/abstractions" target="_blank">Buy&nbsp;&#8250;</a>
                  <a class="text-black text-center bg-white block p-3 text-xl border-2 border-black flex-1" href="https://soundcloud.com/flawed-human-being/sets/abstractions" target="_blank">Listen&nbsp;&#8250;</a>
                </div>
            </div>
            <div id="live-404-beatset-2" class="album-art">
                <img src="/images/album-art/100522-beat-set-vol-1-cover.png">
                <div class="button-wrap flex flex-row">
                  <a class="text-black text-center bg-yellow block p-3 text-xl border-2 border-black flex-1" href="https://flawedhumanbeing.bandcamp.com/track/live-sp-404-beat-set-volume-10" target="_blank">Buy&nbsp;&#8250;</a>
                  <a class="text-black text-center bg-white block p-3 text-xl border-2 border-black flex-1" href="https://flawedhumanbeing.substack.com/p/live-sp-404mk2-beat-set-volume-1#details" target="_blank">Listen&nbsp;&#8250;</a>
                </div>
            </div>
            <div id="mcfeely" class="album-art">
                <img src="/images/album-art/mcfeely.jpg">
                <div class="button-wrap flex flex-row">
                  <a class="text-black text-center bg-yellow block p-3 text-xl border-2 border-black flex-1" href="https://flawedhumanbeing.bandcamp.com/album/mcfeely" target="_blank">Buy&nbsp;&#8250;</a>
                  <a class="text-black text-center bg-white block p-3 text-xl border-2 border-black flex-1" href="https://soundcloud.com/flawed-human-being/sets/mcfeely" target="_blank">Listen&nbsp;&#8250;</a>
                </div>
            </div>
            <div id="live-404-beatset-1" class="album-art">
                <img src="/images/album-art/404-beat-set.jpg">
                <div class="button-wrap flex flex-row">
                  <a class="text-black text-center bg-yellow block p-3 text-xl border-2 border-black flex-1" href="https://flawedhumanbeing.bandcamp.com/track/fhb-live-sp-404-beat-set-recorded-on-8-31-2022" target="_blank">Buy&nbsp;&#8250;</a>
                </div>
            </div>
            <div id="unforgettable" class="album-art">
                <img src="/images/album-art/unforgettable.jpg">
                <div class="button-wrap flex flex-row">
                  <a class="text-black text-center bg-yellow block p-3 text-xl border-2 border-black flex-1" href="https://flawedhumanbeing.bandcamp.com/album/unforgettable" target="_blank">Buy&nbsp;&#8250;</a>
                  <a class="text-black text-center bg-white block p-3 text-xl border-2 border-black flex-1" href="https://soundcloud.com/flawed-human-being/sets/new-lp" target="_blank">Listen&nbsp;&#8250;</a>
                </div>
            </div>
            <div id="cluttered" class="album-art">
                <img src="/images/album-art/cluttered.jpg">
                <div class="button-wrap flex flex-row">
                  <a class="text-black text-center bg-yellow block p-3 text-xl border-2 border-black flex-1" href="https://flawedhumanbeing.bandcamp.com/album/cluttered" target="_blank">Buy&nbsp;&#8250;</a>
                  <a class="text-black text-center bg-white block p-3 text-xl border-2 border-black flex-1" href="https://soundcloud.com/flawed-human-being/sets/cluttered" target="_blank">Listen&nbsp;&#8250;</a>
                </div>
            </div>
            <div id="cliffhanger" class="album-art">
                <img src="/images/album-art/cliffhanger.jpg">
                <div class="button-wrap flex flex-row">
                  <a class="text-black text-center bg-yellow block p-3 text-xl border-2 border-black flex-1" href="https://flawedhumanbeing.bandcamp.com/album/cliffhanger" target="_blank">Buy&nbsp;&#8250;</a>
                  <a class="text-black text-center bg-white block p-3 text-xl border-2 border-black flex-1" href="https://soundcloud.com/flawed-human-being/sets/cliffhanger" target="_blank">Listen&nbsp;&#8250;</a>
                </div>
            </div>
            <div id="innerverse" class="album-art">
                <img src="/images/album-art/innerverse.jpg">
                <div class="button-wrap flex flex-row">
                  <a class="text-black text-center bg-yellow block p-3 text-xl border-2 border-black flex-1" href="https://flawedhumanbeing.bandcamp.com/album/innerverse" target="_blank">Buy&nbsp;&#8250;</a>
                  <a class="text-black text-center bg-white block p-3 text-xl border-2 border-black flex-1" href="https://soundcloud.com/flawed-human-being/sets/innerverse" target="_blank">Listen&nbsp;&#8250;</a>
                </div>
            </div>
            <div id="dust" class="album-art">
                <img src="/images/album-art/dust.jpg">
                <div class="button-wrap flex flex-row">
                  <a class="text-black text-center bg-yellow block p-3 text-xl border-2 border-black flex-1" href="https://flawedhumanbeing.bandcamp.com/album/dust" target="_blank">Buy&nbsp;&#8250;</a>
                  <a class="text-black text-center bg-white block p-3 text-xl border-2 border-black flex-1" href="https://soundcloud.com/flawed-human-being/sets/dust" target="_blank">Listen&nbsp;&#8250;</a>
                </div>
            </div>
            <div id="too-many-secrets" class="album-art">
                <img src="/images/album-art/too-many-secrets.jpg">
                <div class="button-wrap flex flex-row">
                  <a class="text-black text-center bg-yellow block p-3 text-xl border-2 border-black flex-1" href="https://flawedhumanbeing.bandcamp.com/album/too-many-secrets" target="_blank">Buy&nbsp;&#8250;</a>
                  <a class="text-black text-center bg-white block p-3 text-xl border-2 border-black flex-1" href="https://soundcloud.com/flawed-human-being/sets/too-many-secrets" target="_blank">Listen&nbsp;&#8250;</a>
                </div>
            </div>
            <div id="evergreen" class="album-art">
                <img src="/images/album-art/evergreen.jpg">
                <div class="button-wrap flex flex-row">
                  <a class="text-black text-center bg-yellow block p-3 text-xl border-2 border-black flex-1" href="https://flawedhumanbeing.bandcamp.com/album/evergreen" target="_blank">Buy&nbsp;&#8250;</a>
                  <a class="text-black text-center bg-white block p-3 text-xl border-2 border-black flex-1" href="https://soundcloud.com/flawed-human-being/sets/new-ep" target="_blank">Listen&nbsp;&#8250;</a>
                </div>
            </div>
            <div id="hindsight" class="album-art">
                <img src="/images/album-art/hindsight.jpg">
                <div class="button-wrap flex flex-row">
                  <a class="text-black text-center bg-yellow block p-3 text-xl border-2 border-black flex-1" href="https://flawedhumanbeing.bandcamp.com/album/hindsight" target="_blank">Buy&nbsp;&#8250;</a>
                  <a class="text-black text-center bg-white block p-3 text-xl border-2 border-black flex-1" href="https://soundcloud.com/flawed-human-being/sets/hindsight" target="_blank">Listen&nbsp;&#8250;</a>
                </div>
            </div>
            <div id="fhb" class="album-art">
                <img src="/images/album-art/fhb.jpg">
                <div class="button-wrap flex flex-row">
                  <a class="text-black text-center bg-yellow block p-3 text-xl border-2 border-black flex-1" href="https://flawedhumanbeing.bandcamp.com/album/flawed-human-being" target="_blank">Buy&nbsp;&#8250;</a>
                  <a class="text-black text-center bg-white block p-3 text-xl border-2 border-black flex-1" href="https://soundcloud.com/flawed-human-being/sets/flawed-human-being" target="_blank">Listen&nbsp;&#8250;</a>
                </div>
            </div>
            <div id="what-if" class="album-art">
                <img src="/images/album-art/what-if.jpg">
                <div class="button-wrap flex flex-row">
                  <a class="text-black text-center bg-yellow block p-3 text-xl border-2 border-black flex-1" href="https://flawedhumanbeing.bandcamp.com/album/what-if" target="_blank">Buy&nbsp;&#8250;</a>
                  <a class="text-black text-center bg-white block p-3 text-xl border-2 border-black flex-1" href="https://soundcloud.com/flawed-human-being/sets/what-if" target="_blank">Listen&nbsp;&#8250;</a>
                </div>
            </div>
            <div id="kung-fu" class="album-art">
                <img src="/images/album-art/kung-fu.jpg">
                <div class="button-wrap flex flex-row">
                  <a class="text-black text-center bg-yellow block p-3 text-xl border-2 border-black flex-1" href="https://flawedhumanbeing.bandcamp.com/album/kung-fu" target="_blank">Buy&nbsp;&#8250;</a>
                  <a class="text-black text-center bg-white block p-3 text-xl border-2 border-black flex-1" href="https://soundcloud.com/flawed-human-being/sets/kung-fu" target="_blank">Listen&nbsp;&#8250;</a>
                </div>
            </div>
            <div id="pretend" class="album-art">
                <img src="/images/album-art/pretend.jpg">
                <div class="button-wrap flex flex-row">
                  <a class="text-black text-center bg-yellow block p-3 text-xl border-2 border-black flex-1" href="https://flawedhumanbeing.bandcamp.com/album/pretend" target="_blank">Buy&nbsp;&#8250;</a>
                  <a class="text-black text-center bg-white block p-3 text-xl border-2 border-black flex-1" href="https://soundcloud.com/flawed-human-being/sets/pretend" target="_blank">Listen&nbsp;&#8250;</a>
                </div>
            </div>
            <div id="prog" class="album-art">
                <img src="/images/album-art/prog.jpg">
                <div class="button-wrap flex flex-row">
                  <a class="text-black text-center bg-yellow block p-3 text-xl border-2 border-black flex-1" href="https://flawedhumanbeing.bandcamp.com/album/prog" target="_blank">Buy&nbsp;&#8250;</a>
                  <a class="text-black text-center bg-white block p-3 text-xl border-2 border-black flex-1" href="https://soundcloud.com/flawed-human-being/sets/prog" target="_blank">Listen&nbsp;&#8250;</a>
                </div>
            </div>
            <div id="plus" class="album-art">
                <img src="/images/album-art/+.jpg">
                <div class="button-wrap flex flex-row">
                  <a class="text-black text-center bg-yellow block p-3 text-xl border-2 border-black flex-1" href="https://flawedhumanbeing.bandcamp.com/album/-" target="_blank">Buy&nbsp;&#8250;</a>
                  <a class="text-black text-center bg-white block p-3 text-xl border-2 border-black flex-1" href="https://soundcloud.com/flawed-human-being/sets/plus" target="_blank">Listen&nbsp;&#8250;</a>
                </div>
            </div>
            <div id="beta" class="album-art">
                <img src="/images/album-art/beta.jpg">
                <div class="button-wrap flex flex-row">
                  <a class="text-black text-center bg-white block p-3 text-xl border-2 border-black flex-1" href="https://soundcloud.com/flawed-human-being/sets/beta" target="_blank">Listen&nbsp;&#8250;</a>
                </div>
            </div>
            <div id="stream" class="album-art">
                <img src="/images/album-art/stream.jpg">
                <div class="button-wrap flex flex-row">
                  <a class="text-black text-center bg-yellow block p-3 text-xl border-2 border-black flex-1" href="https://flawedhumanbeing.bandcamp.com/album/stream" target="_blank">Buy&nbsp;&#8250;</a>
                  <a class="text-black text-center bg-white block p-3 text-xl border-2 border-black flex-1" href="https://soundcloud.com/flawed-human-being/sets/stream" target="_blank">Listen&nbsp;&#8250;</a>
                </div>
            </div>
        </div>
        <div class="grid place-items-center">
            <div class="grid-container">
                <div class="grid-item"><a data-target="abstractions" class="block rounded-full art-disc active-disc"></a></div>
                <div class="grid-item"><a data-target="live-404-beatset-2" class="block rounded-full art-disc"></a></div>
                <div class="grid-item"><a data-target="mcfeely" href="#" class="block rounded-full art-disc"></a></div>
                <div class="grid-item"><a data-target="live-404-beatset-1" href="#" class="block rounded-full art-disc"></a></div>
                <div class="grid-item"><a data-target="unforgettable" href="#" class="block rounded-full art-disc"></a></div>
                <div class="grid-item"><a data-target="cluttered" href="#" class="block rounded-full art-disc"></a></div>
                <div class="grid-item"><a data-target="cliffhanger" href="#" class="block rounded-full art-disc"></a></div>
                <div class="grid-item"><a data-target="innerverse" href="#" class="block rounded-full art-disc"></a></div>
                <div class="grid-item"><a data-target="dust" href="#" class="block rounded-full art-disc"></a></div>
                <div class="grid-item"><a data-target="too-many-secrets" href="#" class="block rounded-full art-disc"></a></div>
                <div class="grid-item"><a data-target="evergreen" href="#" class="block rounded-full art-disc"></a></div>
                <div class="grid-item"><a data-target="hindsight" href="#" class="block rounded-full art-disc"></a></div>
                <div class="grid-item"><a data-target="fhb" href="#" class="block rounded-full art-disc"></a></div>
                <div class="grid-item"><a data-target="what-if" href="#" class="block rounded-full art-disc"></a></div>
                <div class="grid-item"><a data-target="kung-fu" href="#" class="block rounded-full art-disc"></a></div>
                <div class="grid-item"><a data-target="pretend" href="#" class="block rounded-full art-disc"></a></div>
                <div class="grid-item"><a data-target="prog" href="#" class="block rounded-full art-disc"></a></div>
                <div class="grid-item"><a data-target="plus" href="#" class="block rounded-full art-disc"></a></div>
                <div class="grid-item"><a data-target="beta" href="#" class="block rounded-full art-disc"></a></div>
                <div class="grid-item"><a data-target="stream" href="#" class="block rounded-full art-disc"></a></div>
            </div>
        </div>
  </div>

  <div class="bg-black">
    <div class="md:w-1/2 mx-auto p-10 p-md-20">
      <h2 class="text-white uppercase text-2xl">Writing</h2>
      <p>
        Here are some <a href="https://flawedhumanbeing.substack.com/" target="_blank">posts</a> I've made recently.
      </p>
      <RssFHB client:load />
    </div>
  </div>
  <Footer />
</Master>
<style>

    /* STRIPE */

    .my-input {
      padding: 20px;
      border: none;
      outline: none;
    }

    .header-wrap {
      background: #FFF500 url(/images/yellow-static.gif) no-repeat top center;
      background-size: cover;
    }

    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto auto auto auto auto;
        grid-gap: 15px;
        padding: 25px;
    }

    .grid-item {
        background-color: #000;
        width: 45px;
        height: 45px;
        border-radius: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
      
    .grid-item a {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 1px #FFF solid;
    }

    .grid-item a:hover {
        background-color: #FFF500;
        border: none;
    }

    .album-art {
        display: none;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
        max-width: 500px;
     }

    .album-art.active {
        display: block;
        opacity: 1;
    }

    .active-disc {
        background-color: #FFF;
    }

</style>
<script is:inline>

var links = document.querySelectorAll('.art-disc');
var content = document.querySelectorAll('.album-art');

for (var i = 0; i < links.length; i++) {
  links[i].addEventListener('click', function(e) {
    e.preventDefault();
    console.log(e.target.dataset.target);
    var target = e.currentTarget.getAttribute('data-target');
    // loop through content divs and show the selected one
    for (var j = 0; j < content.length; j++) {
      if (content[j].id === target) {
        content[j].classList.add('active');
        content[j].style.display = 'block';
      } else {
        content[j].classList.remove('active');
        content[j].style.display = 'none';
      }
    }
    // loop through links and show the selected one
    for (var k = 0; k < links.length; k++) {
      if (links[k].getAttribute('data-target') === target) {
        links[k].classList.add('active-disc');
      } else {
        links[k].classList.remove('active-disc');
      }
    }
  });
}