---
import Master from '../components/Master.astro';
import Logo from '../components/Logo.astro';
import RssFHB from '../components/RssFHB.vue';
import Footer from '../components/Footer.astro';
---
<Master>
    <div class="columns-3 justify-center">
        <Logo />
        <img src="/images/album-art/abstractions.jpg">
        <div>
            grid
        </div>
    </div>
    <!-- <RssFHB client:load /> -->
    <Footer />
</Master>