---
import Head from '../components/Head.astro'
import '../styles/global.css';
import Navigation from '../components/Navigation.astro';
import Logo from '../components/Logo.astro';
---
<html lang="en" class="dark">
	<Head />
	<body class="bg-yellow dark:bg-black">
		<Navigation />
		<Logo />
		<section class="text-center mx-auto max-w-sm">
			<ul class="p-0 list-none">
				<li class="inline-block p-2">
				   <a href="https://flawedhumanbeing.bandcamp.com/" target="_blank">
					   <img class="hidden dark:block" src="/images/social-icons/icons8-bandcamp-50.png" title="Bandcamp" />
					   <img class="block dark:hidden" src="/images/social-icons/icons8-bandcamp-50-black.png" title="Bandcamp" />
				   </a>
			   </li>
				<li class="inline-block p-2">
				   <a href="https://www.youtube.com/c/FlawedHumanBeing" target="_blank">
					   <img class="hidden dark:block" src="/images/social-icons/icons8-youtube-32.png" title="Youtube Icon" />
					   <img class="block dark:hidden" src="/images/social-icons/icons8-youtube-32-black.png" title="Youtube Icon" />
				   </a>
			   </li>
				<li class="inline-block p-2">
				   <a href="https://open.spotify.com/artist/0ywnFmJWQwP4adEG9otvYA?si=OzPWYdFWR3eSd6pMQks85A" target="_blank">
					   <img class="hidden dark:block" src="/images/social-icons/icons8-spotify-32.png" title="Spotify Icon" />
					   <img class="block dark:hidden" src="/images/social-icons/icons8-spotify-32-black.png" title="Spotify Icon" />
				   </a>
			   </li>
				<li class="inline-block p-2">
				   <a href="http://www.instagram.com/flawedhuman" target="_blank">
					   <img class="hidden dark:block" src="/images/social-icons/icons8-instagram-32.png" title="Instagram Icon" />
					   <img class="block dark:hidden" src="/images/social-icons/icons8-instagram-32-black.png" title="Instagram Icon" />
				   </a>
			   </li>
				<li class="inline-block p-2">
				   <a href="http://www.soundcloud.com/flawed-human-being" target="_blank">
					   <img class="hidden dark:block" src="/images/social-icons/icons8-soundcloud-32.png" title="Soundcloud Icon" />
					   <img class="block dark:hidden" src="/images/social-icons/icons8-soundcloud-32-black.png" title="Soundcloud Icon" />
				   </a>
			   </li>
				<li class="inline-block p-2">
				   <a href="https://music.apple.com/us/artist/flawed-human-being/1352533505" target="_blank">
					   <img class="hidden dark:block" src="/images/social-icons/icons8-music-32.png" title="Apple Music Icon" />
					   <img class="block dark:hidden" src="/images/social-icons/icons8-music-32-black.png" title="Apple Music Icon" />
				   </a>
			   </li>
				<li class="inline-block p-2">
				   <a href="https://dribbble.com/flawedhumanbeing" target="_blank">
					   <img class="hidden dark:block" src="/images/social-icons/icons8-dribbble-32.png" title="Dribbble Icon" />
					   <img class="block dark:hidden" src="/images/social-icons/icons8-dribbble-32-black.png" title="Dribbble Icon" />
				   </a>
			   </li>
		   </ul>
		</section>
		<section class="text-center mx-auto max-w-sm">
			<p class="text-black dark:text-white p-3 text-xl">
				Matthew Goddard became fascinated with hip-hop and electronic music in college while studying graphic design and marketing. 
			</p>
			<p class="text-black dark:text-white p-3">
				He began making simple beats on his iPhone and soon became obsessed with the art of sampling and instrumental hip-hop itself.
			</p>
			<p class="text-black dark:text-white p-3">
				Over a decade later Matthew is still learning and producing music every day. Enjoy the noise.
			</p>
			<hr class="border-t border-black dark:border-white my-5" />
			<p class="text-black dark:text-white p-3">
				For all serious inquiries, please email flawedhumanbeing at gmail dot com.
			</p>
		</section>
	</body>
</html>