<div class="container p-4">
    <div class="columns-1">
        <a href="/">
            <img class="w-60 mx-auto mt-5" src="/images/fhb-logo-black.png" alt="FHB Logo">
        </a>
    </div>
    <div class="columns-1 align-middle">
        <ul class="p-0 list-none flex flex-row flex-nowrap justify-center">
            <li class="p-2">
               <a href="https://flawedhumanbeing.bandcamp.com/" target="_blank">
                   <img class="hidden dark:block" src="/images/social-icons/icons8-bandcamp-50.png" title="Bandcamp" />
                   <img class="block dark:hidden" src="/images/social-icons/icons8-bandcamp-50-black.png" title="Bandcamp" />
               </a>
           </li>
            <li class="p-2">
               <a href="https://www.youtube.com/c/FlawedHumanBeing" target="_blank">
                   <img class="hidden dark:block" src="/images/social-icons/icons8-youtube-32.png" title="Youtube Icon" />
                   <img class="block dark:hidden" src="/images/social-icons/icons8-youtube-32-black.png" title="Youtube Icon" />
               </a>
           </li>
            <li class="p-2">
               <a href="https://open.spotify.com/artist/0ywnFmJWQwP4adEG9otvYA?si=OzPWYdFWR3eSd6pMQks85A" target="_blank">
                   <img class="hidden dark:block" src="/images/social-icons/icons8-spotify-32.png" title="Spotify Icon" />
                   <img class="block dark:hidden" src="/images/social-icons/icons8-spotify-32-black.png" title="Spotify Icon" />
               </a>
           </li>
            <li class="p-2">
               <a href="http://www.instagram.com/flawedhuman" target="_blank">
                   <img class="hidden dark:block" src="/images/social-icons/icons8-instagram-32.png" title="Instagram Icon" />
                   <img class="block dark:hidden" src="/images/social-icons/icons8-instagram-32-black.png" title="Instagram Icon" />
               </a>
           </li>
            <li class="p-2">
               <a href="http://www.soundcloud.com/flawed-human-being" target="_blank">
                   <img class="hidden dark:block" src="/images/social-icons/icons8-soundcloud-32.png" title="Soundcloud Icon" />
                   <img class="block dark:hidden" src="/images/social-icons/icons8-soundcloud-32-black.png" title="Soundcloud Icon" />
               </a>
           </li>
            <li class="p-2">
               <a href="https://music.apple.com/us/artist/flawed-human-being/1352533505" target="_blank">
                   <img class="hidden dark:block" src="/images/social-icons/icons8-music-32.png" title="Apple Music Icon" />
                   <img class="block dark:hidden" src="/images/social-icons/icons8-music-32-black.png" title="Apple Music Icon" />
               </a>
           </li>
            <li class="p-2">
               <a href="https://dribbble.com/flawedhumanbeing" target="_blank">
                   <img class="hidden dark:block" src="/images/social-icons/icons8-dribbble-32.png" title="Dribbble Icon" />
                   <img class="block dark:hidden" src="/images/social-icons/icons8-dribbble-32-black.png" title="Dribbble Icon" />
               </a>
           </li>
       </ul>
    </div>
</div>