---
import { ViewTransitions } from 'astro:transitions';
import Head from "../components/Head.astro";
import SiteNav from "../components/SiteNav.astro";

---
<!DOCTYPE html>
<html lang="en">
<head>
    <Head />
    <ViewTransitions />
</head>
<body>
    <SiteNav />
</body>
</html>